<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>New Event</title>
<link th:replace="fragments/head">
</head>
<body>
	<div class="container-fluid">
		<div th:replace="fragments/navbar"></div>
		<div class="jumbotron col-md-8 col-md-offset-2">
			<h2>New Event</h2>
			<form th:action="@{/events/new}" th:object="${event}" method="post"
				autocomplete="off">
				<div class="form-group">
					<label th:if="${#fields.hasErrors('message')}"
						th:errors="*{message}" class="validation-message"></label>
					<textarea rows="5" th:field="*{message}"
						placeholder="Desribe your Event" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<button class="btn btn-md btn-success btn-block" name="submit"
						value="up" type="submit">Post your Event!</button>
				</div>
			</form>
			<div th:if="${successMessage}">
				<h3>
					<span class="text-success" th:utext="${successMessage}"></span>
				</h3>
			</div>
		</div>
	</div>
	<script th:replace="fragments/scripts"></script>
</body>
</html>